// Typography styles

@use 'sass:color';
@use '../utils/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $color-gray-900;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

// Paragraphs
p {
  margin-bottom: 1rem;
}

// Links
a {
  color: $color-primary;
  transition: $transition-fast;

  &:hover {
    color: color.adjust($color-primary, $lightness: -15%);
  }
}

// Text utilities
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $color-gray-600;
}

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-danger {
  color: $color-danger;
}

.text-warning {
  color: $color-warning;
}
